

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial;
}

#glowny{
    
    width: 1000px;
    height: 1000px;
    /*margin: auto;*/
    
}

#baner{
    width: 900px;
    border: none;
    /*border: 1px solid black;*/
    
}

#lewy{

    /*border: 1px solid black;*/
    /*border-right: none;*/
    height: 150px;
    width: 450px;
    /*border-top: none;*/
}

#prawy{

    /*border: 1px solid black;*/
    height: 150px;
    width: 450px;
    /*border-top: none;*/
}

#lewy{
    float: left;
}

#prawy{
    float: left;
    text-align: center;
}

#baner{
    display: block;
}

a{
    display: block;
}